// main: style.less



@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Book.woff') format('woff'),
        url('/fonts/Gotham-Book.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/Overpass-SemiBold.ttf') format('woff'),
        url('/fonts/Overpass-SemiBold.ttf') format('woff2');
    font-weight: 600;
    font-style: normal;
}

